.contacto{
  max-width:500px;
  margin:100px auto;
  padding:40px;

  background:#ffffff;
  border-radius:10px;

  box-shadow:0 5px 20px rgba(0,0,0,0.15);
}

.contacto h2{
  text-align:center;
  margin-bottom:20px;
  color:#222;
}

.contacto form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.contacto input,
.contacto textarea{
  padding:12px;
  border-radius:6px;
  border:1px solid #ccc;
  font-size:14px;
}

.contacto textarea{
  min-height:120px;
}

.contacto button{
  padding:12px;
  background:#000;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

.contacto button:hover{
  background:#333;
}