/* NAVBAR */

.navbar{
  position: fixed;
  top:0;
  left:0;

  width:100%;
  height:70px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 30px;

  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);

  border-bottom:1px solid #333;

  z-index:1000;

  box-sizing:border-box;
}

/* logo */

.logo{
  font-size:18px;
  font-weight:300;
  letter-spacing:2px;
  white-space:nowrap;
}

/* menu */

.menu{
  display:flex;
  align-items:center;
  gap:20px;

  margin:0;
  padding:0;

  list-style:none;

  flex-wrap:wrap;
}

.menu a{
  text-decoration:none;
  color:white;
  font-size:14px;
  white-space:nowrap;
}

.menu a:hover{
  color:#ccc;
}

.menu li{
  list-style:none;
}